<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>  
</head>
<body>

	<div id="layout" class="pure-g">
	    <div class="leftpage  pure-u-1 pure-u-md-1-4">
        <div class="header">
        	<img src="\static\pic\857d5af083eb19233b607669d5bafa89.jpg" class="portrait">
            <h1 class="brand-title">那年那日那朵花</h1>
            <h1 class="brand-little-title">
            "Can a man still be brave if he's afraid?"
            </h1>
            <h1 class="brand-little-title">
			"That is the only time a man can be brave."
            </h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/index">HOMEPAGE</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/archive">ARCHIVE</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/tag">TAGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/about">ABOUTME</a>
                    </li>
                </ul>
            </nav>
        </div>
	    </div>

	<div class="rightcontent pure-u-1 pure-u-md-3-4">
	{% block content %}{% endblock %}
	</div>
	

	</div>



</body>


</html>
