<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="description" Content="cloudhu 个人随笔 不定期的会记录一些文章。想写什么写什么">
  <meta name="keywords" Content="运维 python 技术学习">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="toTop" content="true">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link type="text/css" rel="stylesheet" href="/static/css/tango.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link rel="shortcut icon" type="image/ico" href="\static\pic\favicon.ico"> 
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/jquery/backtotop.js"></script>
</head>
<body>

	<div id="layout" class="pure-g">
	    <div class="leftpage  pure-u-1 pure-u-md-1-4">
        <div class="header">
        	<img src="\static\pic\857d5af083eb19233b607669d5bafa89.jpg" class="portrait">
            <h1 class="brand-title">那年那日那朵花</h1>
            <h1 class="brand-little-title">
            "Can a man still be brave if he's afraid?"
            </h1>
            <h1 class="brand-little-title">
			"That is the only time a man can be brave."
            </h1>
            <div style="text-align: right">
            <form action="/blog/search/" method="POST" class="form-signin">{% csrf_token %}
			<input style="color: rgb(0, 90, 90)" type='text' name='search'  placeholder="搜索标题"/>
			<button class="btn btn-link" type="submit">
			<span style="color: rgb(255, 255, 255)" class="fa fa-search"></span>
			</button>
            </form>
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/index">HOMEPAGE</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/archive">ARCHIVES</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/tag">TAGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/tools">TOOLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/about">ABOUTME</a>
                    </li>
                </ul>
            </nav>
            
        <div class="nav-item-icon">
				<a  style="display: inline;" href="https://github.com/mnpiozhang">
    			<i class="fa fa-github"></i>
				</a>
				<a  style="display: inline;" href="/blog/rss">
    			<i class="fa fa-rss"></i>
				</a>
  		</div>        
        </div>
	    </div>

	<div class="rightcontent pure-u-1 pure-u-md-3-4">
	{% block content %}{% endblock %}
	    <div class="beian">
        <p style="color: rgb(0, 90, 90);font-size: 12px;display: inline;">Cloudhu 个人随笔|built by django|</p>
        <a style="color: rgb(0, 90, 90);font-size: 12px;display: inline;" href="http://www.miibeian.gov.cn/">沪ICP备16019452号-1</a>
        </div>
	</div>
	

	</div>



</body>


</html>
