* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Microsoft Yahei', sans-serif;
}

#layout {
	padding: 0;
}

.leftpage{
    background: rgb(0, 150, 75);
    color: #fff;
    box-shadow: 2px 0 5px #888888;
    overflow-y: auto;
    
}

.rightcontent {
    padding: 2em 1em 0;
}


body { 
	overflow-y: scroll;
} 

span.spacing { padding-left: 20px; }

.music {
	margin-top: 10px;
    text-align: center;
}

.globe{
	width: 90%;
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	opacity: 0.5;
}

.keepright { 
	text-align: right;
}

.vol-header a:hover,
.keepright a:hover{ 
	color: rgb(255, 62, 62);
	transition: all .3s ease-out;
	text-decoration: none;
}

.header{
	text-align: center;
	top: auto;
	margin: 3em auto;
}

/*肖像*/
.portrait {
    width:130px; 
    height:100px; 
    border-radius:60%; 
    overflow:hidden;
    border: 5px solid;
    -webkit-transition: all ease .3s;
	transition: all ease .3s

}

/*肖像点击动态呼吸灯效果*/
.header img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0px 0px 18px rgba(0,0,0,.5);
}

.brand-title{
	padding: 4px 0;
	text-align: center;
	font-size: 30px;
}

.brand-little-title{
	padding: 4px 0;
	text-align: center;
	font-size: 15px;
	
}

.nav-list {
	text-align: center;
    margin: 0;
    padding: 2px 0;
    list-style: none;
}

.nav-item {
	text-align: right;
	display: inline-block;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(0, 255, 64);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 100%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(20, 255, 255);
    text-decoration: none;
    color:#00ff00;
    transition: all .8s ease-out;
}


.nav-item-icon {
	text-align: center;
	margin-top: 10px;
}
.nav-item-icon a {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 125%;
    margin-left: 10px;
}
.nav-item-icon a:hover,
.nav-item-icon a:focus {
	background: transparent;
    text-decoration: none;
    color:#00ff00;
}

.nav-item-icon i:hover {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.pagediv{
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}


.pagediv a {
    
    border-bottom: 5px solid rgb(214, 214, 214);
    color: #62bbc3;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 600;
}
.pagediv a:hover,
.pagediv a:focus {
	background: transparent;
    border-bottom: 5px solid rgb(20, 225, 225);
    text-decoration: none;
    color:#00ff00;
    transition: all .8s ease-out;
}













.vol {
    padding-bottom: 2em;
    /*padding-left: 45px;
    background: rgb(0, 172, 86);*/
    width:  calc(60% + 10px); 
    margin: 0 auto;
}

.vol-books {
    padding-bottom: 50px;
    padding-left: 15px;
    /*background: rgb(0, 172, 86);*/
    width:  calc(60% + 10px); 
    margin: 0 auto;
}



.vol-index {
    padding-bottom: 2em;
    /*padding-left: 45px;
    background: rgb(0, 172, 86);*/
    width:  calc(75% + 10px); 
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(91,121,121,0.78);
	background: white;
}



/*
.vol-title{
	font-family:"Times New Roman",Times,serif;
	font-weight:bold;
	color: rgb(0, 90, 90);
}
*/

/*主页的下划线动画*/
.vol-title{
	font-family:"Times New Roman",Times,serif;
	font-weight:bold;
	color: rgb(0, 90, 90);
	position: relative;
}


.vol-title:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00BCD4;
    transform: scale3d(0,1,1);
    transition: .4s ease-in-out;
}

.vol-title:hover:after{
	transform:scale3d(1,1,1);
}
/*end*/

.vol-meta{
	color: #999;
    font-size: 90%;
    margin: 0;
}

.vol-tag {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #8080ff;
    font-size: 80%;
}
.article-title{
    padding-top: 0.3rem;
	display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
.article-header{
	content: '';
    display: block;
    border-bottom: 1px solid #999999;
    margin-top: 1.3rem;
    text-align: center;
	padding-bottom: 1em;
}
.article-detial{
	margin: 0 auto;

}
.article-description{
	padding-bottom: 2em;
	padding-top: 2em;
}

.archive-title{
	font-weight:bold;
	font-size: 160%;
}

.archive-title a {
	color: rgb(0, 90, 90)
}

.archive-title a:hover {
	text-decoration: none;
	color: rgb(98, 208, 204);
	transition: all .3s ease-out;
}

.archive-title-link{
	position: relative;
}

/*
.archive-title-link:after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #00BCD4;
    transition:all 0.3s ease-in-out;
}

.archive-title-link:hover:after{
	width:100%;
}
*/
.archive-time{
	margin-right: 0px;
	margin-top: 8px;
}

/*archive 下划线动画效果*/
.archive-header{
    display: block;
    /*border-bottom: 1px solid #999999;*/
    margin-top: 1.7rem;
    text-align: center;
	padding-bottom: 50px;
	position: relative;
	width: 115%;
}


.archive-header:after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #00BCD4;
    transition:all 1s ease-in-out;
}

.archive-header:hover:after{
	width:100%;
}
/*end*/

.books-title{
    display: block;
    text-align: left;
    margin-left: 5px;
	padding-bottom: 60px;
}

.detial{
	margin: 1em 1em;
	padding: 1em;
    box-shadow: 0 1px 3px rgba(91,121,121,0.78);
    background: white;
}

a.button-xlarge {
    font-size: 425%;
        }
        
.archives-wrap {
    line-height: 35px;
    /*width: 200px;*/
    /*position: absolute;*/
    padding-left: calc(2%);
    /*padding-left: 60px;*/
    font-size: 200%;
    font-weight: bold;	
}

.beian{
	/*top: auto;
	margin: 45% 2em 0;
	text-align: center;
	width: 100%;
	position: absolute;
	text-align: center;
	padding-top: 45%;*/
	
	position: relative;
	text-align: center;

}

.tagcloud a {
	display: inline-block;
	margin: .2em .4em;
	opacity: 0.6;
	font-size:x-large;
	text-decoration: none;
}

.tagcloud a:hover {
    text-decoration: none;
}


.search{
	text-align: center
}

@media (min-width: 62em) {

	.archives-wrap{
		position: absolute;
	}
	
}


@media (min-width: 48em) {
    .rightcontent {
		padding: 5em 1em 0;
    	margin-left: 25%;
    }

	.detial {
		margin: 1em 7em;
	}

    .header {
		top: auto;
		margin: 10% 2em 0;
    	text-align: center;
    }

    .leftpage {
    	position: fixed;
    	top: 0;
        bottom: 0;
    }
    
    .beian{
		/*position: absolute;*/
		position: relative;
		bottom: 0;
		left: 39%;
		/*margin-left: -110px;*/
		display: inline;
	}

	.brand-title{
		text-align: right;
	}

	.brand-little-title{
		text-align: right;
	}

	.nav-list {
		text-align: right;
	}

	.nav-item {
		display: block;
	}
	
	.nav-item-icon {
		text-align: right;
	}

	.search{
		text-align: right;
	}
	
	.music {
		margin-top: 10px;
	    text-align: right;
	}

	.globe{
		width: 90%;
	}
}
