* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.leftpage{
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgb(0, 172, 86);
    color: #fff;
    
}

.rightcontent{
	padding: 5em 3em 0;
    margin-left: 25%;
    
}

body { overflow-y: scroll; } 

span.spacing { padding-left: 20px; }


.keepright { 
	text-align: right;
}

.header{
	font-family: 'Microsoft Yahei', sans-serif;
	top: auto;
	margin: 70% 2em 0;
    text-align: center;
}

/*肖像*/
.portrait {
    width:130px; 
    height:100px; 
    border-radius:60%; 
    overflow:hidden;
    border: 5px solid;
}
.brand-title{
	
	padding: 4px 0;
	text-align: right;
	font-size: 30px;
}

.nav-list {
	text-align: right;
    margin: 0;
    padding: 2px 0;
    list-style: none;
}
.nav-item {
	text-align: right;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(0, 255, 64);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 100%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(0, 128, 60);
    text-decoration: none;
    color:#00ff00;
}

.pagediv{
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}
.vol {
    padding-bottom: 2em;
    /*background: rgb(0, 172, 86);*/
    width:  calc(60% + 10px); 
    margin: 0 auto;

}

.vol-title{
	font-family:"Times New Roman",Times,serif;
	font-weight:bold;
}
.vol-meta{
	color: #999;
    font-size: 90%;
    margin: 0;
}

.vol-tag {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #8080ff;
    font-size: 80%;
}
.article-title{
    padding-top: 0.3rem;
	display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
.article-header{
	content: '';
    display: block;
    border-bottom: 1px solid #999999;
    margin-top: 1.3rem;
    text-align: center;
	padding-bottom: 1em;
}
.article-detial{
	margin: 0 auto;

}
.article-description{
	padding-bottom: 2em;
	padding-top: 2em;
}

