{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}AboutMe|Cloudhu 个人随笔{% endblock %}

{% block content %}
<section class="vol">
<div class="article-detail">
            <div class="article-description">
                <p>
                    {{ AboutMeObj.introduce|djangomarkdown }}
                </p>
       	    </div>

</div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	var width = $(this).width();
	var height = $(this).height();
	//console.log('width'+width+'-height'+height);
	if (width < 600 ) {
		$(".article-description").css({"font-size":"7px"});
	}else{
		$(".article-description").css({"font-size":"14px"});
	}
	$(window).resize(function() {  
		var width = $(this).width();
		var height = $(this).height();
		//console.log('width'+width+'-height'+height);
		if (width < 700 ) {
			$(".article-description").css({"font-size":"7px"});
		}else{
			$(".article-description").css({"font-size":"14px"});
		}
	});
});

</script>

{% endblock %}

