{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}Archive|Cloudhu 个人随笔{% endblock %}

{% block content %}

{% if ArticleCount %}
<section class="vol-index" style="margin-top:0;">
	<div class="vol-header" style="font-size:25px;text-align: center;">已经码了 {{ ArticleCount }} 篇，继续加油！</div>
</section>
{% endif %}

{% for k,v in ArchiveDict.items %}
<section>    
    	<div class="archives-wrap">{{ k|date:"Y-m" }}</div>
        {% for i in v %}
        <div class="vol">
            <div class="archive-header">
            <div style="display:inline"> 
                <div class="archive-title" style="float:left">
                <a class="archive-title-link"  href="/blog/show/{{ i.id }}" >{{ i.title }}</a>
                </div>
                <div class="archive-time " style="float:right">{{ i.timestamp |date:"Y-m-d H:i"}}</div>
            </div>
            </div>
        </div>
        {% endfor %}

</section>

<script type="text/javascript">
$(document).ready(function(){
	var width = $(this).width();
	var height = $(this).height();
	//console.log('width'+width+'-height'+height);
	if (width < 600 ) {
		$(".archive-header").css({"font-size":"7px"});
	}else{
		$(".archive-header").css({"font-size":"14px"});
	}
	$(window).resize(function() {  
		var width = $(this).width();
		var height = $(this).height();
		//console.log('width'+width+'-height'+height);
		if (width < 600 ) {
			$(".archive-header").css({"font-size":"7px"});
		}else{
			$(".archive-header").css({"font-size":"14px"});
		}
	});
});

</script>


{% endfor %}
{% endblock %}

