{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}Archive|Cloudhu 个人随笔{% endblock %}

{% block content %}

{% for k,v in ArchiveDict.items %}
<section>    
    	<div class="archives-wrap">{{ k|date:"Y-m" }}</div>
        {% for i in v %}
        <div class="vol">
            <div class="archive-header">
            <div style="display:inline"> 
                <div class="archive-title" style="float:left">
                <a class="archive-title-link"  href="/blog/show/{{ i.id }}" >{{ i.title }}</a>
                </div>
                <div class="archive-time " style="float:right">{{ i.timestamp |date:"Y-m-d H:i"}}</div>
            </div>
            </div>
        </div>
        {% endfor %}

</section>
{% endfor %}
{% endblock %}

