{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}Archive{% endblock %}

{% block content %}
<div>
    {% for k,v in ArchiveDict.items %}
    
    	{{ k|date:"Y-m" }}
    	{% for i in v %}
        <section class="vol">
            <div class="archive-header">
            <div style="display:inline"> 
                <div class="archive-title" style="float:left">
                <a style="color: rgb(0, 90, 90)" href="/blog/show/{{ i.id }}" >{{ i.title }}</a>
                </div>
                <div class="archive-time " style="float:right">{{ i.timestamp |date:"Y-m-d H:i"}}</div>
            </div>
            </div>
            
        </section>
        {% endfor %}
    {% endfor %}


</div>
{% endblock %}

