{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}Cloudhu 个人随笔{% endblock %}

{% block content %}
<div>

	{% if TagName %}
	<section class="vol-index" style="margin-top:0;">
		<div class="vol-header" style="border-left: 5px solid #333;font-size:35px;text-align: center;">标签: {{ TagName }}</div>
	</section>
	{% elif Search %}
	<section class="vol-index" style="margin-top:0;">
		<div class="vol-header" style="border-left: 5px solid #333;font-size:35px;text-align: center;">搜索: {{ Search }}</div>
	</section>
	{% else %}
	<section class="vol-index" style="margin-top:0;">
		<div class="vol-header" style="border-left: 5px solid #333;font-size:35px;text-align: center;">欢迎 (｡・`ω´･)</div>
	</section>
	{% endif %}




    {% for a in ArticleObj %}
        <section class="vol-index">
            <div class="vol-header">
            	<h1><a class="vol-title" href="/blog/show/{{ a.id }}" >{{ a.title }}</a></h1>
                <!-- <h1 class="vol-title"></h1> -->

                    <p class="vol-meta">
                        <span class="glyphicon glyphicon-time">{{ a.timestamp|date:"Y-m-d H:i" }}</span>
                        {% for b in a.tag.all %}
								<a href="/blog/tag/{{ b }}">
								<span class="spacing glyphicon glyphicon-tag">{{ b }}</span>
								</a>
                        {% endfor %}
                    </p>
            </div>

            <div class="post-description">
                <p>
                    {{ a.content|truncatechars:250|djangomarkdown}}
                </p>
                <div class="keepright">
                	<a class="vol-title" href="/blog/show/{{ a.id }}" >MORE >>></a>
                </div>
            </div>
            
        </section>
    {% endfor %}

<div class="pagediv">{{ PageInfo }}</div>
</div>
{% endblock %}

