{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}ItBooksTop20|Cloudhu 个人随笔{% endblock %}

{% block content %}

{% for k,v in booksdict.items %}
<section>    
    	<div class="archives-wrap">{{ k }}</div>
        <div class="vol-books">
            <div class="books-title">
            	<img src="{{ v.pic }}" style="float:left">
                <div class="archive-title">
                	<a class="archive-title-link"  href="{{ v.url }}" >{{ v.name }}</a>
                	<!-- <p>{{ v.name }}</p> -->
                </div>
            </div>
        </div>
</section>
{% endfor %}
{% endblock %}

