{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}ItBooksTop20|Cloudhu 个人随笔{% endblock %}

{% block content %}

{% for k,v in booksdict.items %}
<section class="books-section">    
    	<div class="archives-wrap">{{ k }}</div>
        <div class="vol-books">
            <div class="books-title">
            	<img src="{{ v.pic }}" style="float:left">
                <div class="archive-title">
                	<a class="archive-title-link"  href="{{ v.url }}" >{{ v.name }}</a>
                	<!-- <p>{{ v.name }}</p> -->
                </div>
            </div>
        </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	var width = $(this).width();
	var height = $(this).height();
	//console.log('width'+width+'-height'+height);
	if (width < 600 ) {
		$(".books-section").css({"font-size":"1px"});
	}else{
		$(".books-section").css({"font-size":"14px"});
	}
	$(window).resize(function() {  
		var width = $(this).width();
		var height = $(this).height();
		//console.log('width'+width+'-height'+height);
		if (width < 700 ) {
			$(".books-section").css({"font-size":"1px"});
		}else{
			$(".books-section").css({"font-size":"14px"});
		}
	});
});

</script>

{% endfor %}
{% endblock %}

