{% extends "suit/suit.html" %}
{% block title %}Search|Cloudhu 个人随笔{% endblock %}

{% block content %}
<div>

{% if not Search %}
<section class="vol-index" style="margin-top:0;">
	<div class="vol-header" style="border-left: 5px solid #333;font-size:1.5em;text-align: center;">搜索: </div>
	<div class="vol-header" style="border-left: 5px solid #333;font-size:1.5em;text-align: center;">结果条数: 0</div>
	<p>支持lucene查询语法，结果根据elasticsearch返回的相关性score从高到低排序。搜索方式可以这样:</p>
	<ol>
		<li>直接全文搜索，例如搜  hello</li>
		<li>指定标题搜索，例如搜  title:橙卡</li>
		<li>指定内容搜索，例如搜  content:橙卡</li>
		<li>支持逻辑操作，例如搜  title:docker AND content:部署</li>
	</ol>
</section>
{% else %}
	{% if not Hit %}
	<section class="vol-index" style="margin-top:0;">
		<div class="vol-header" style="border-left: 5px solid #333;font-size:1.5em;text-align: center;">搜索: {{ Search }}</div>
		<div class="vol-header" style="border-left: 5px solid #333;font-size:1.5em;text-align: center;">结果条数: {{ Hit }}</div>
		<p>支持lucene查询语法，结果根据elasticsearch返回的相关性score从高到低排序。搜索方式可以这样:</p>
		<ol>
			<li>直接全文搜索，例如搜  hello</li>
			<li>指定标题搜索，例如搜  title:橙卡</li>
			<li>指定内容搜索，例如搜  content:橙卡</li>
			<li>支持逻辑操作，例如搜  title:docker AND content:部署</li>
		</ol>
	</section>
	{% else %}
	<section class="vol-index" style="margin-top:0;">
		<div class="vol-header" style="border-left: 5px solid #333;font-size:1.5em;text-align: center;">搜索: {{ Search }}</div>
		<div class="vol-header" style="border-left: 5px solid #333;font-size:1.5em;text-align: center;">结果条数: {{ Hit }}</div>
		<p>支持lucene查询语法，结果根据elasticsearch返回的相关性score从高到低排序。搜索方式可以这样:</p>
		<ol>
			<li>直接全文搜索，例如搜  hello</li>
			<li>指定标题搜索，例如搜  title:橙卡</li>
			<li>指定内容搜索，例如搜  content:橙卡</li>
			<li>支持逻辑操作，例如搜  title:docker AND content:部署</li>
		</ol>
	</section>
	
	<section class="vol-index">
	
		{% for a in Article %}
		<div class="vol-header">
	    <h1><a class="vol-title" href="/blog/show/{{ a.id }}" >{{ a.title }}</a></h1>
		</div>
		{% endfor %}
	
	</section>
	
	</div>
	{% endif %}
{% endif %}
{% endblock %}

