{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% load duoshuo_tags %}
{% block title %}{{ ArticleObj.title }}|Cloudhu 个人随笔{% endblock %}

{% block content %}
<div class="detail">
<div class="article-detail">
            <div class="article-header">
                <h1 class="article-title">{{ ArticleObj.title }}</h1>

                    <p class="vol-meta">
                        <span class="glyphicon glyphicon-time">{{ ArticleObj.timestamp|date:"Y-m-d H:i" }}</span>
                        {% for tags in ArticleObj.tag.all %}
								<a  href="/blog/tag/{{ tags }}">
								<span class="spacing glyphicon glyphicon-tag">{{ tags }}</span>
								</a>
								<a> </a>
                        {% endfor %}
                    </p>
            </div>
            <div class="article-description">
                <p>
                    {{ ArticleObj.content|djangomarkdown }}
                </p>
       	    </div>

</div>


<!--PC版-->
<!-- <div id="SOHUCS" sid={{ ArticleObj.id }}></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cysUlcTMO',
conf: 'prod_c93fa97f65f3579c7cb8ee4b12f6984f'
});
</script> -->


<div class="pagediv">{{ articlecontext }}</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var width = $(this).width();
	var height = $(this).height();
	//console.log('width'+width+'-height'+height);
	if (width < 600 ) {
		$(".article-detail").css({"font-size":"7px"});
	}else{
		$(".article-detail").css({"font-size":"14px"});
	}
	$(window).resize(function() {  
		var width = $(this).width();
		var height = $(this).height();
		//console.log('width'+width+'-height'+height);
		if (width < 700 ) {
			$(".article-detail").css({"font-size":"7px"});
		}else{
			$(".article-detail").css({"font-size":"14px"});
		}
	});
});

</script>

{% endblock %}

