{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% load duoshuo_tags %}
{% block title %}{{ ArticleObj.title }}{% endblock %}

{% block content %}
<div class="detial">
<div class="article-detial">
            <div class="article-header">
                <h1 class="article-title">{{ ArticleObj.title }}</h1>

                    <p class="vol-meta">
                        <span class="glyphicon glyphicon-time">{{ ArticleObj.timestamp|date:"Y-m-d H:i" }}</span>
                        {% for tags in ArticleObj.tag.all %}
								<a  href="/blog/tag/{{ tags }}">
								<span class="spacing glyphicon glyphicon-tag">{{ tags }}</span>
								</a>
								<a> </a>
                        {% endfor %}
                    </p>
            </div>
            <div class="article-description">
                <p>
                    {{ ArticleObj.content|djangomarkdown }}
                </p>
       	    </div>

</div>

<div class="duoshuo">{% duoshuo_comments %}</div>
<div class="pagediv">{{ articlecontext }}</div>
</div>
{% endblock %}

