{% extends "suit/suit.html" %}
{% load djangomarkdown %}
{% block title %}Blog{% endblock %}

{% block content %}
<div class="article-detial">
            <div class="article-header">
                <h1 class="article-title">{{ ArticleObj.title }}</h1>

                    <p class="vol-meta">
                        Time:  <a class="vol-time" href="#">{{ ArticleObj.timestamp }}</a> 
						Tag :  
                        {% for tags in ArticleObj.tag.all %}
								<a class="vol-tag" href="#">{{ tags }}</a>
                        {% endfor %}
                    </p>
            </div>
            <div class="article-description">
                <p>
                    {{ ArticleObj.content|djangomarkdown }}
                </p>
       	    </div>

</div>

<div class="pagediv">{{ articlecontext }}</div>
{% endblock %}

