{% extends "suit/suit.html" %}
{% block title %}Tags{% endblock %}

{% block content %}
<div>
<section class="vol">
	<nav class="tagcloud">
    {% for a in taglst %}
    <a class="button" href="/blog/tag/{{ a.tagname }}" >{{ a.tagname }}<span>({{ a.count }})</span>
    </a>
    {% endfor %}
	</nav>
</section>

<script src="http://oato1xm6h.bkt.clouddn.com/echarts.common.min.js"></script>
<section class="vol">
    <div id="tagstatistics" style="width: 700px;height:400px;margin-top:50px;"></div>
</section>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('tagstatistics'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '标签统计'
            },
            color: ['#3CB371'],
            tooltip: {
            	trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data:['数量']
            },
            xAxis: {
                data: [
                       {% for a in taglst %}
                       "{{ a.tagname }}",
                       {% endfor %}
                       //"衬衫",
                       //"羊毛衫",
                       //"雪纺衫",
                       //"裤子",
                       //"高跟鞋",
                       //"袜子",
                       ]
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                barWidth: '60%',
                data: [
                       {% for a in taglst %}
                       {{ a.count }},
                       {% endfor %}
                       //5, 
                       //20, 
                       //36, 
                       //10, 
                       //10, 
                       //20,
                       ]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>


</div>

{% endblock %}

