{% extends "suit/suit.html" %}
{% block title %}Toys|Cloudhu 个人随笔{% endblock %}

{% block content %}
<div>
<section class="vol">
	<nav class="tagcloud">
    <a class="button" href="/blog/toys/itpopularbooks" >爬虫——it类图书TOP20</a><span>(京东24小时内)</span>
	</nav>
	<nav class="tagcloud">
    <a class="button" href="/blog/toys/novelpopularbooks" >爬虫——小说类图书TOP20</a><span>(京东24小时内)</span>
	</nav>
	<nav class="tagcloud">
	<a class="button" href="/blog/show/31/" >文字冒险游戏——&lt;&lt;打狗传&gt;&gt;</a><span>(基于微信公众号)</span>
	</nav>
	<nav class="tagcloud">
	<a class="button" href="/blog/toys/flashtime" >酷炫的时间显示</a><span>(codepen上找的)</span>
	</nav>
</section>
</div>

{% endblock %}

