{% extends "suit/suit.html" %}
{% block title %}Toys|Cloudhu 个人随笔{% endblock %}

{% block content %}
<div>
<section class="vol">
<!-- 
	<nav class="tagcloud">
    <a class="button" href="/blog/toys/itpopularbooks" >爬虫——it类图书TOP20</a><span>(京东24小时内)</span>
	</nav>
	<nav class="tagcloud">
    <a class="button" href="/blog/toys/novelpopularbooks" >爬虫——小说类图书TOP20</a><span>(京东24小时内)</span>
	</nav>
	<nav class="tagcloud">
	<a class="button" href="/blog/show/31/" >文字冒险游戏——&lt;&lt;打狗传&gt;&gt;</a><span>(基于微信公众号)</span>
	</nav>
	<nav class="tagcloud">
	<a class="button" href="/blog/toys/flashtime" >酷炫的时间显示</a><span>(codepen上找的)</span>
	</nav>
	<nav class="tagcloud">
	<a class="button" href="/blog/show/35/" >图片转彩色字符画</a><span>(^_^)</span>
	</nav>
-->
	{% for i in toyObj %}
	<nav class="tagcloud">
    <a class="button" href="{{ i.toyurl }}" >{{ i.toyname }}</a><span>{{ i.toyspan }}</span>
	</nav>
	{% endfor %}
</section>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var width = $(this).width();
	var height = $(this).height();
	//console.log('width'+width+'-height'+height);
	if (width < 600 ) {
		$(".tagcloud").css({"font-size":"7px"});
	}else{
		$(".tagcloud").css({"font-size":"14px"});
	}
	$(window).resize(function() {  
		var width = $(this).width();
		var height = $(this).height();
		//console.log('width'+width+'-height'+height);
		if (width < 700 ) {
			$(".tagcloud").css({"font-size":"7px"});
		}else{
			$(".tagcloud").css({"font-size":"14px"});
		}
	});
});

</script>

{% endblock %}

